.header-hero {
    .header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background-color: transparent;
      color: #971010;
      margin-top: -100px;
  
      .header-logo {
        font-size: 3rem;
        font-weight: bold;
      }
  
      .header-nav {
        display: flex;
        gap: 15px;
  
        a {
          color: #971010;
          text-decoration: none;
          font-size: 2rem;
          &:hover {
            color: #c21313;
          }
        }
  
        a svg {
          height: 100px;
          width: 100px;
        }
      }
    }
  
    .buy-token {
      margin-top: 200px;
      font-size: 60px;
    }
  
    .hero {
      text-align: center;
      padding: 100px 20px;
      height: 40vw;
      background: url('/assets/first.png') no-repeat center/cover;
      color: #fff;
  
      h1 {
        font-size: 48px;
      }
  
      p {
        margin-top: 20px;
        font-size: 32px;
        font-weight: 600;
        color: #c21313;
      }
  
      .hero-button {
        margin-top: 30px;
        padding: 10px 20px;
        background-color: #971010;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
      }
    }
  
    // Media Query for small screens (max-width: 375px)
    @media (max-width: 375px) {
        .hero {
            height: 100vw;
        }
      .header {
        padding: 20px;
        height: auto; /* Fixing small header layout */
      }
  
      .header-logo {
        font-size: 2.2rem !important;  // Use !important if other rules override it
        margin-top: 25px;
    }
  
      .header-nav {
        gap: 10px;
      }
  
      .header-nav a {
        font-size: 1.6rem;
      }
  
      // Target SVG icons inside anchor tags
      .header-nav a svg {
        width: 50px !important;
        height: 50px !important;
        margin-top: 10px;
      }
  
      .hero {
        padding: 60px 15px;
        height: 45vw;
  
        h1 {
          font-size: 32px;
        }
  
        p {
          font-size: 22px;
        }
      }
  
      .buy-token {
        font-size: 36px;
      }
      .buy-token img {
        height: 100px;
        width: 100px;
        margin-top: -300px;
      }
    }
  }
  